@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.header {
  background-image: url("/intro-bg.jpg");
  height: 100vh;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 48%);
  width: 100%;
  height: 100%;
  z-index: -1;
}
nav {
  background-color: rgb(0 0 0 / 48%);
}
.select-lang,
.sheet {
  background: none !important;
}
.sheet {
  padding: 0 !important;
}

.react-photo-album--track {
  display: grid !important;
  grid-template-columns: repeat(auto-fill, minmax(295px, 1fr));
  gap: 20px;
}
.react-photo-album--rows .react-photo-album--photo {
  width: 100% !important;
  height: auto !important;
  max-width: 100% !important;
  max-height: 100% !important;
  object-fit: cover;
}
